body {
    background-image: linear-gradient(to right, #7a65e4 , #063996);
    color: green;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}
/* *******************************   MAIN   ******************************** */
main {
    padding: 20px;
    text-align: center;
}
h1, h2, h3 {
    color: #fff;
}
p {
    color: #fff;
}
